*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow: hidden;
}

html, body{
    height: 100%;
    width: 100%;
}
button{
    cursor: pointer;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.generator{
    height: 13rem;
    width: 30rem;
    padding: 20px;
    background-color: pink;
    border-radius: 10px;
}
.generator h2{
    font-family: monospace;
    margin-top:0.7rem;
    font-size: 1.7rem;
}
.placeholder{
    height: 2.5rem;
    width: 27rem;
    border: 2px solid black;
    margin-top:1rem;
    margin-left:0.2rem;
    font-size: 1.3rem;
    padding:    0.3rem;
    padding-left: 0.8rem;
    display: flex;
    justify-content: space-between;
}
#copy{
    cursor: pointer;
}
#submit{
    background-color: black;
    color: white;
    padding: 10px;
    margin-top:1rem;
    margin-left:0.2rem;
}
.confirm{
    height: 3rem;
    width: 20rem;
    background-color: #89DF90;
    position: absolute;
    border-radius: 10px;
    font-size: 1.3rem;
    padding:0.5rem;
    padding-left: 1.5rem;
    display: flex;
    justify-content: space-between;
    bottom: 20px;
    right: 20px;
    visibility: hidden;
}
#cross{
    background-color:transparent ;
    border-color: transparent;
    padding: 0.4rem;
    border-radius: 50%;
}
#cross:hover{
    border: 1px solid rgb(83, 82, 82);
    cursor: pointer;
}
@keyframes slidein{
    0%{
        visibility: hidden;
        height: 0px;
        width: 0px;
        right: -1000px;
    }
    92%{
        height: 3rem;
        width: 20rem;
    }
    100%{
        right:40px;
    }
}
@keyframes slideout{
    0%{
        right:40px;
    }
    40%{
        visibility: hidden;
    }
    92%{
        height: 3rem;
        width: 20rem;
    }
    100%{
        height: 0px;
        width: 0px;
        right: -1000px;
        visibility: hidden;
    }
}
@media (max-width: 768px) {
    .confirm{
        bottom: 5rem;
    }
    .generator{
        height: 13rem;
        width: 19rem;
    }
    .generator h2{
        margin-top:0.2rem;
        font-size: 1.4rem;
    }
    .placeholder{
        width: 16rem;
    }
}